{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="my-5">Modifier l'actualité</h2>
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        <button type="submit" class="btn btn-success mt-3">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

